# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL_NAME=
OPENAI_REASONING_MODEL_NAME=
OPENAI_REASONING_MODEL_TEMP=
OPENAI_MODEL_TEMP=

# Google GenAI
GOOGLE_GENAI_API_KEY=
GOOGLE_GENAI_MODEL_NAME=
GOOGLE_GENAI_MODEL_TEMP=